.wrapper {
  margin: 50px 60% 50px 40px;
   }

   .project {
    margin-right: 50%;
    margin-bottom: 40px;
    margin-top: 20%;
    background-color: #f5d328;
    color: #fff;
    padding: 20px 14px;
    }