.projectCard  {
  width: 500px;
  height: 400px;
  margin-top: 100px;
}
.icons {
  width: 122px;
  text-align: center;
  margin-top: 10px;
}

.projectTitle {
  font-size: 30px;
  color: #f5d328;
}

  
.projectCard {
  position: relative;
  // width: 50%;
} 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(https://images.unsplash.com/photo-1545873509-33e944ca7655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  // border: solid 1px darkgoldenrod;
  // outline-offset: 20px;
  width: 500px;
  height: 402px;
  // border: 20px solid #d3d3d3;
  // box-shadow: inset 0px 0px 0px 5px darkgoldenrod;
  box-sizing: border-box;
}

.projectCard:hover .overlay {
  opacity: 1;
}